.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    background-color: #f7f7f7;

  }
  
  .message-form-section,
  #user_messages {
    background-color: #b3e7e6;
    border-radius: 8px;
    padding: 20px;

  }
  
  h2 {
    margin-bottom: 1rem;
  }
  